.panel {
	width: 30%;
	min-width: 22rem;
	max-width: 96vw;
	max-height: 96vh;
	position: absolute;
	top: 2%;
	right: 2%;
	padding: 0.6rem;
	z-index: 200;
	background-color: white;
	font-size: 1.6rem;
	border: 1px solid #2b4645;
	box-shadow: 1px 1px #1b2523;
	border-radius: 0.5rem;
}

h1.welcome-text{
	font-size: 1.6rem;
	font-weight: normal;
}